<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Form</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <main>
    <h1>Your favourite Cricketer</h1>
    <form method="POST" action="/submit">
      <input type="text" name="author" placeholder="Author name" required />
      <input type="text" name="cricketer" placeholder="Cricketer name" required />
      <textarea name="essay" placeholder="Write your essay" required></textarea>
      <input type="submit" value="OK" />
    </form>
  </main>
</body>
</html>
